<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OfficeConverterTestTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OfficeConverterTestTool.Properties.Settings>
            <setting name="UseLibreOffice" serializeAs="String">
                <value>False</value>
            </setting>
        </OfficeConverterTestTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.8" newVersion="1.3.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MsgReader" publicKeyToken="3ba01cf3434959fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.0.0" newVersion="3.9.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenMcdf" publicKeyToken="fdbb1629d7c00800" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.9" newVersion="2.2.1.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
